.article-content{
    background-color: #fff;
    padding:30px;
}
.article-content .key{
    font-size: 20px;
    font-weight: bold;
}
.article-content ul li{
   padding-top:30px;
    padding-bottom: 20px;
}
.article-content ul li .article .articleTitle a{
    font-weight: bold !important;
    font-size: 12px;
    color: #000;
}
.article-content ul li .article .articleTitle a h2{
    font-weight: bold !important;
    font-size: 18px;
    color: #000;
}
.article-content ul li .article .articleTitle a h2:hover{
    color: #3E71F6;
}
.article-content ul li .article .articleContent{
    margin-top: 20px;
    color: #999;
}
.article-content ul li .article .articleContent p,a{
    color: #999;
}
.article-content ul li .article .articleOperation{
    margin-top: 10px;
}
.article-content ul li .article .articleOperation a{
    color: #999;
}
.article-content ul li .article .articleOperation img{
    width: 20px;
    float: left;
    line-height: 30px;
    margin-top: 5px;
    color: #999;
}
.article-content ul li .article .articleOperation .star{
    margin-left: 30px;
    padding-left: 30px;
}